# Django-specific deployment commands
container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_setup_groups:
    command: "python manage.py setup_groups"
    leader_only: true
    ignoreErrors: true