# Django-specific deployment commands
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && DJANGO_SETTINGS_MODULE=rs_systems.settings_aws python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && DJANGO_SETTINGS_MODULE=rs_systems.settings_aws python manage.py collectstatic --noinput"
    leader_only: true
  03_setup_groups:
    command: "source /var/app/venv/*/bin/activate && DJANGO_SETTINGS_MODULE=rs_systems.settings_aws python manage.py setup_groups"
    leader_only: true
    ignoreErrors: true