# Debug static files deployment
container_commands:
  98_debug_static:
    command: "ls -la /var/app/current/ && ls -la /var/app/current/staticfiles/"
    leader_only: true
    ignoreErrors: true
  99_force_collectstatic:
    command: "cd /var/app/current && python manage.py collectstatic --noinput --verbosity=2"
    leader_only: true