{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Technician Portal{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="logo">Technician Portal</h1>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-logout">Logout</button>
            </form>
        </nav>
    </header>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Add your footer content here -->
    </footer>
    {% block extra_js %}{% endblock %}
</body>
</html>
